.container-img {
	position: relative;
	overflow: hidden;
	height: 500px;
	width: 500px;
	
	background-image: url("../uploads/galaxy.jpg");
	background-repeat: no-repeat;
}

.imgbg {
	display: block;
	position: absolute;
}

@media screen and (max-width: 640px){
	.container-img {
		width: 300px;
		height: 100px;
	}
}